@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:wght@100;700&display=swap');
body{
    background-color: rgb(14, 13, 13);
}

.player {
    margin: 5px auto;
}
.title{
    color:white;
    font-family: poppins;
    margin-top: -10px;
}   

.donejt{
    color:rgb(240, 45, 45);
    font-family: poppins;
    margin-top: -25px;
    font-size: 25px;
    
}   

a { 
    color: rgb(248, 85, 85);
}

script {
    position: absolute;
    margin-top: 1520px;
}

.fame {
    position: absolute;
    color: white;
    font-family: poppins;
    margin-top: -770px;
    margin-left: 450px;
}

.licznik{
    position: absolute;
    color: rgb(255, 0, 0);
    font-family: poppins;
    font-weight: bold;
    margin-top: -750px;
    margin-left: 250px;
    font-size: 80px;
}